@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import 'tailwindcss';
@import "tailwindcss/preflight" layer(base);
@import "tailwindcss/utilities" layer(utilities);

@theme {
    --color-text: #ebe9fc;
    --color-background: #0c0b0e;
    --color-primary: #3b00bc;
    --color-secondary: #020024;
    --color-accent: #5000c2;
}

body {
    @apply bg-background font-[JetBrains_Mono] text-text 
}
